@font-face {
    font-family: "Myriad Pro";
    font-weight: 400;
    src: url(../fonts/myriad-pro.otf) format("truetype");
}
@font-face {
    font-family: "Myriad Pro";
    font-weight: 700;
    src: url(../fonts/myriad-pro-bold.otf) format("truetype");
}
@font-face {
    font-family: "Century Gothic";
    src: url(../fonts/century-gothic.ttf) format("truetype");
}

body {
    font-family: "Myriad Pro";
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Century Gothic";
    font-weight: 400;
}

.container {
    padding: 20px 0;
}

#main .content {
    display: table;
    margin: 0 auto;
}

#main h1 {
    font-size: 60px;
    margin-top: 50px;
}

#main img {
    margin: 24px auto;
    display: block;
    border-radius: 50%;
}

#main h2 {
    font-size: 36px;
    margin-bottom: 50px;
}

#navigation {
    background: #00aeef;
    border-bottom: 2px solid #00aeef;
}

#navigation.affix {
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
}

#navigation.affix li a {
    padding-top: 8px;
    padding-bottom: 6px;
}

#navigation .navbar-brand {
    display: none;
    height: auto;
    padding-top: 18px;
    padding-bottom: 12px;
    font-size: 28px;
    line-height: 40px;
    color: #fff;
    padding-right: 0px;
}

#navigation .navbar-brand small {
    color: #ddd;
    font-size: 80%;
}

#navigation .navbar-header .navbar-toggle {
    padding: 24px 28px 18px 13px;
    margin: 0;
}

#navigation .navbar-header .glyphicon {
    font-size: 20px;
    color: #fff;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}

#navigation .navbar-header .glyphicon.rotate {
    color: #000;
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}

#navigation.affix .navbar-header {
    margin-left: 15px;
    margin-right: 15px;
}

.navigation-bar {
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

.navigation-bar li {
    display: inline-block;
}

.navigation-bar li a {
    font-size: 24px;
    padding: 20px 40px;
}
 
.navigation-bar li a,
.navigation-bar li a:hover {
    background: #00aeef;
    color: #fff;
}

.navigation-bar li.active a {
    background: #fff;
    color: #00aeef;
}

@media screen and (max-width: 992px) {
    .navigation-bar li a {
        font-size: 22px;
    }
}

@media screen and (max-width: 767px) {
    #navigation .navbar-brand {
        display: block;
        font-size: 22px;
    }
    .navigation-bar li a {
        font-size: 20px;
    }
    .navigation-bar li {
        display: block;
    }
}

@media screen and (max-width: 360px) {
    #navigation .navbar-brand {
        font-size: 20px;
    }
}
