@font-face {
    font-family: "Myriad Pro";
    font-weight: 400;
    src: url(../fonts/myriad-pro.otf) format("truetype");
}
@font-face {
    font-family: "Myriad Pro";
    font-weight: 700;
    src: url(../fonts/myriad-pro-bold.otf) format("truetype");
}
@font-face {
    font-family: "Century Gothic";
    src: url(../fonts/century-gothic.ttf) format("truetype");
}

body {
    font-family: "Myriad Pro";
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Century Gothic";
    font-weight: 400;
}

.container {
    padding: 20px 0;
}

#main .content {
    display: table;
    margin: 0 auto;
}

#main h1 {
    font-size: 60px;
    margin-top: 50px;
}

#main img {
    margin: 24px auto;
    display: block;
    border-radius: 50%;
}

#main h2 {
    font-size: 36px;
    margin-bottom: 50px;
}

#navigation {
    background: #00aeef;
    border-bottom: 2px solid #00aeef;
}

#navigation.affix {
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
}

#navigation.affix li a {
    padding-top: 8px;
    padding-bottom: 6px;
}

.navigation-bar {
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

.navigation-bar li {
    display: inline-block;
}

.navigation-bar li a {
    font-size: 24px;
    padding: 20px 40px;
}
 
.navigation-bar li a,
.navigation-bar li a:hover {
    background: #00aeef;
    color: #fff;
}

.navigation-bar li.active a {
    background: #fff;
    color: #00aeef;
}

@media screen and (max-width: 768px) {
    .navigation-bar li a {
        font-size: 20px;
        padding: 15px 30px;
    }
}

@media screen and (max-width: 490px) {
    .navigation-bar li {
        display: block;
    }
}
