@font-face {
    font-family: "Myriad Pro";
    font-weight: 400;
    src: url(../fonts/myriad-pro.otf) format("opentype");
}
@font-face {
    font-family: "Myriad Pro";
    font-weight: 700;
    src: url(../fonts/myriad-pro-bold.otf) format("opentype");
}
@font-face {
    font-family: "Century Gothic";
    src: url(../fonts/century-gothic.ttf) format("truetype");
}

body {
    font-family: "Myriad Pro", "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Century Gothic", "Helvetica Neue", Arial, sans-serif;
    font-weight: 400;
}

h1 {
    line-height: 1.3;
}

#main .content {
    display: table;
    margin: 0 auto;
}

#main {
    background: url(../img/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#main h1 {
    font-size: 60px;
    margin-top: 50px;
}

#main img {
    margin: 24px auto;
    height: 250px;
    display: block;
    border-radius: 50%;
    -moz-border-radius: 50%;
}

#main h2 {
    font-size: 36px;
    margin-top: 10px;
}

#navigation {
    background: #00aeef;
    border-bottom: 2px solid #00aeef;
}

#navigation.affix {
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
}

#navigation.affix li a {
    padding-top: 8px;
    padding-bottom: 6px;
}

#navigation .navbar-brand {
    display: none;
    height: auto;
    padding-top: 18px;
    padding-bottom: 12px;
    font-size: 28px;
    line-height: 40px;
    color: #fff;
    padding-right: 0px;
}

#navigation .navbar-brand small {
    color: #ddd;
    font-size: 80%;
}

#navigation .navbar-header .navbar-toggle {
    padding: 24px 28px 18px 13px;
    margin: 0;
}

#navigation .navbar-header .glyphicon {
    font-size: 20px;
    color: #fff;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}

#navigation .navbar-header .glyphicon.rotate {
    color: #000;
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}

#navigation.affix .navbar-header {
    margin-left: 15px;
    margin-right: 15px;
}

.navigation-bar {
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

.navigation-bar li {
    display: inline-block;
}

.navigation-bar li a {
    font-size: 24px;
    padding: 20px 37px;
}
 
.navigation-bar li a,
.navigation-bar li a:hover {
    background: #00aeef;
    color: #fff;
}

.navigation-bar li.active a {
    background: #fff;
    color: #00aeef;
}

.tab-pane {
    padding-bottom: 40px;
}

#about h4 {
    margin-top: 20px;
    line-height: 1.4;
}

#hello {
    margin-top: 20px;
    margin-bottom: 20px;
}

.overlay-wrapper {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    z-index: 51;
    top: 0;
    left: 0;
    -webkit-transition: left .2s ease-out;
    -moz-transition: left .2s ease-out;
    -o-transition: left .2s ease-out;
    transition: left .2s ease-out;
}

div.overlay {
    width: 100%;
    height: 100%;
    z-index: 50;
}

div.overlay .text-container {
    position: relative;
    width: 100%;
    height: 100%;
}

div.overlay h1 {
    position: absolute;
    display: block;
    top: 50%;
    margin-top: -20px;
    left: 50%;
}

div.overlay.bw-overlay h1 {
    margin-left: -120px;
}

div.overlay.bw-overlay h1.visible-xs {
    margin-left: -41px;
}

div.overlay.color-overlay h1 {
    margin-left: -47px;
}

.bw-overlay {
    background-color: #aaa;
    color: #fff;
}
 
.color-overlay {
    background-color: #036;
    color: #fff;
}

img.overlay.bw-image {
    left: 100%;
}

img.overlay.color-image {
    left: -100%;
}

.flyer-wrapper:hover .overlay {
    left: 0;
    right: 0;
}

.fluid-width-video-wrapper {
    padding-top: 56.5%;
    width: 100%;
    position: relative;
}

#campaign-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
 
#photo-gallery img {
    margin: auto;
}

@media screen and (max-width: 992px) {
    .navigation-bar li a {
        font-size: 22px;
    }
}

@media screen and (max-width: 767px) {
    #navigation .navbar-brand {
        display: block;
        font-size: 22px;
    }
    .navigation-bar li a {
        font-size: 20px;
    }
    .navigation-bar li {
        display: block;
    }
}

@media screen and (max-width: 380px) {
    #navigation .navbar-brand small {
        display: none;
    }
}

.social-buttons {
    margin: auto;
    width: auto;
    text-align: center;
}

.slide-social {
    display: inline-block;
    overflow: hidden;
    margin: 0 10px 10px 0;
    width: 160px;
    height: 48px;
    background: #F1F1F1;
}

.slide-social .button {
    position: absolute;
    margin: 15px 0 0 55px;
    font-weight: 700;
}

.slide-social .icon {
    float: left;
    padding-top: 15px;
    width: 25%;
    height: 100%;
    text-align: center;
}

.slide-social .icon i {
    color: #FFF;
    font-size: 1.2em;
}

.slide-social .slide {
    position: relative;
    float: left;
    width: 75%;
    height: 100%;
}

.slide-social .slide p {
    position: relative;
    top: 15px;
    margin: 0;
    border-left: 1px solid rgb(255,255,255); /* IE < 9 Fallback Colour */
    border-left: 1px solid rgba(255,255,255,0.3);
    color: #FFF;
    text-align: center;
    font-weight: 700;
}

/* Brand Colours */

.facebook {
    background: #3b5998;
}

.twitter {
    background: #00acee;
}

.instagram {
    background: #3f729b;
}

/* Slide Animation */

.slide-social:hover .slide {
    -webkit-transform: translate(101%, 0);
    -moz-transform: translate(101%, 0);
    -ms-transform: translate(101%, 0);
    -o-transform: translate(101%, 0);
    transform: translate(101%, 0);
}

.no-cssanimations .slide-social .slide {
    display: none; /* hide in IE 8-9 */
}

.touch .slide-social .slide {
    display: none; /* hide on touch devices */
}

/* Transition */

.slide-social .slide {
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

/* Media Queries */

@media only screen and (max-width: 560px) {
    .social-buttons {
        width: 100%;
    }

    .slide-social {
        width: 100%;
    }

    .slide-social .button {
        position: absolute;
        margin-left: 50%;
    }

    .slide-social .facebook-button {
        margin-left: 47%;
    }

    .slide-social .twitter-button {
        margin-left: 49%;
    }

    .slide-social .instagram-button {
        margin-left: 46%;
    }
}

@media only screen and (max-width: 420px) {
    .slide-social .facebook-button {
        margin-left: 46%;
    }

    .slide-social .twitter-button {
        margin-left: 48%;
    }

    .slide-social .instagram-button {
        margin-left: 44%;
    }
}

#scroll-more {
    position: fixed;
    padding: 10px 15px;
    width: 150px;
    margin-left: -75px;
    bottom: 100px;
    left: 50%;
    background: rgba(255,255,255,.7);
    border-radius: 5px;
}

#scroll-more h3 {
    margin: 0;
}
